In [ ]:
# this command takes forever and will spit out many duplicate 'startDate' errors to be handled MANUALLY
# only run it when you have a fresh export.xml to parse

%run -i '../scripts/extract_apple_health_data' '../observationsexport.xml'

In [2]:
import numpy as np
import pandas as pd
import glob

In [11]:
activity = pd.read_csv('../Workout.csv')

In [12]:
activity.tail()

,sourceName,sourceVersion,device,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,totalDistance,totalDistanceUnit,totalEnergyBurned,totalEnergyBurnedUnit
123,John’s Apple Watch,9.0,"<<HKDevice: 0x2836f2b20>, name:Peloton, manufa...",2022-10-12 19:39:48 -0400,2022-10-12 19:09:37 -0400,2022-10-12 19:39:40 -0400,HKWorkoutActivityTypeCycling,30.003384,min,NaN,NaN,NaN,NaN
124,John’s Apple Watch,9.0,"<<HKDevice: 0x2836f2b20>, name:Peloton, manufa...",2022-10-15 11:21:06 -0400,2022-10-15 11:10:02 -0400,2022-10-15 11:21:02 -0400,HKWorkoutActivityTypeCycling,10.008345,min,NaN,NaN,NaN,NaN
125,John’s Apple Watch,9.0,"<<HKDevice: 0x2836f2b20>, name:Peloton, manufa...",2022-10-15 11:54:48 -0400,2022-10-15 11:23:42 -0400,2022-10-15 11:54:40 -0400,HKWorkoutActivityTypeCycling,29.995160,min,NaN,NaN,NaN,NaN
126,John’s Apple Watch,9.0.2,"<<HKDevice: 0x2836f2b20>, name:Peloton, manufa...",2022-10-22 08:38:27 -0400,2022-10-22 08:27:27 -0400,2022-10-22 08:38:23 -0400,HKWorkoutActivityTypeCycling,10.937683,min,NaN,NaN,NaN,NaN
127,John’s Apple Watch,9.0.2,"<<HKDevice: 0x2836f2b20>, name:Peloton, manufa...",2022-10-22 09:11:27 -0400,2022-10-22 08:41:17 -0400,2022-10-22 09:11:19 -0400,HKWorkoutActivityTypeCycling,30.042193,min,NaN,NaN,NaN,NaN

In [6]:
sleep = pd.read_csv('../SleepAnalysis.csv')

In [8]:
sleep.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
2855,John’s Apple Watch,9.0.2,NaN,SleepAnalysis,NaN,2022-10-27 06:09:12 -0400,2022-10-27 05:21:15 -0400,2022-10-27 05:54:15 -0400,HKCategoryValueSleepAnalysisAsleepCore
2856,John’s Apple Watch,9.0.2,NaN,SleepAnalysis,NaN,2022-10-27 06:09:12 -0400,2022-10-27 05:54:15 -0400,2022-10-27 05:56:15 -0400,HKCategoryValueSleepAnalysisAwake
2857,John’s Apple Watch,9.0.2,NaN,SleepAnalysis,NaN,2022-10-27 06:09:12 -0400,2022-10-27 05:56:15 -0400,2022-10-27 05:59:45 -0400,HKCategoryValueSleepAnalysisAsleepCore
2858,John’s iPhone,16.0,NaN,SleepAnalysis,NaN,2022-10-27 06:09:10 -0400,2022-10-26 21:56:36 -0400,2022-10-27 06:02:15 -0400,HKCategoryValueSleepAnalysisInBed
2859,John’s iPhone,16.0,NaN,SleepAnalysis,NaN,2022-10-27 06:09:10 -0400,2022-10-27 06:03:17 -0400,2022-10-27 06:05:04 -0400,HKCategoryValueSleepAnalysisInBed

In [ ]:
sleep.info()

In [ ]:
sleep.describe()