In [1]:
import numpy as np
import pandas as pd
import glob

In [2]:
wrkouts = pd.read_json('../observations/strava/activities.json')

In [3]:
wrkouts.head()

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,...,from_accepted_tag,pr_count,total_photo_count,has_kudoed,workout_type,average_watts,kilojoules,device_watts,elev_high,elev_low
0,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,2021,2021,0.0,Crossfit,Crossfit,8101613036,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,1766,1766,0.0,Crossfit,Crossfit,8091816369,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,1877,1877,0.0,Crossfit,Crossfit,8086725422,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
3,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,2542,2542,0.0,Crossfit,Crossfit,8081870128,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
4,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,1999,1999,0.0,Crossfit,Crossfit,8066672778,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
wrkouts.columns

Index(['resource_state', 'athlete', 'name', 'distance', 'moving_time',
       'elapsed_time', 'total_elevation_gain', 'type', 'sport_type', 'id',
       'start_date', 'start_date_local', 'timezone', 'utc_offset',
       'location_city', 'location_state', 'location_country',
       'achievement_count', 'kudos_count', 'comment_count', 'athlete_count',
       'photo_count', 'map', 'trainer', 'commute', 'manual', 'private',
       'visibility', 'flagged', 'gear_id', 'start_latlng', 'end_latlng',
       'average_speed', 'max_speed', 'has_heartrate', 'average_heartrate',
       'max_heartrate', 'heartrate_opt_out', 'display_hide_heartrate_option',
       'upload_id', 'upload_id_str', 'external_id', 'from_accepted_tag',
       'pr_count', 'total_photo_count', 'has_kudoed', 'workout_type',
       'average_watts', 'kilojoules', 'device_watts', 'elev_high', 'elev_low'],
      dtype='object')